footer
  color: white
  text-align: center
  padding: 20px
  background-image: linear-gradient(327deg, #ef6860, #d84756)
  position: relative
  overflow: hidden
  margin-top: 50px
  height: 500px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: left
  +tablet
    height: 600px
    align-items: center
    padding: 50px

  svg.circularSvg
    animation: rotation 20s infinite linear

  .circular
    position: absolute
    top: -50%
    right: -70%
    z-index: 0
    +ease(.2s)
    +large-phone
      top: -50%
      right: -50%
    @media screen and (min-width: 500px)
      top: -45%
      right: -45%
    @media screen and (min-width: 600px)
      top: -40%
      right: -40%
    @media screen and (min-width: 700px)
      top: -35%
      right: -35%
    +tablet
      top: calc(50% - 245px)
      left: 0
      right: 0

  .footer-text
    color: #ffffff
    text-align: left
    .small-text
      font-size: 16px
      letter-spacing: 0.3px
      +tablet
        font-size: 20px
        letter-spacing: 0.4px

    .large-text
      margin-bottom: 80px
      font-size: 34px
      font-weight: bold
      line-height: 38.0px
      letter-spacing: 0.6px
      width: 204px
      +medium-phone
        width: 240px
        font-size: 40px
        line-height: 46px
        letter-spacing: 0.7px
        margin-bottom: 65px
      +tablet
        width: auto
        font-size: 54px
        line-height: 50px
        letter-spacing: 1px
        margin-bottom: 60px

    .medium-text
      font-size: 26px
      font-weight: bold
      line-height: 20.0px
      letter-spacing: 2px
      margin-bottom: 90px
      position: relative
      width: 215px
      display: flex
      +tablet
        margin: 0 auto
        display: block

  .numie-logo
    display: none

  .footer-bottom
    position: absolute
    bottom: 20px
    left: 20px
    display: flex
    flex-direction: column
    +tablet
      left: 50px
      right: 50px
      bottom: 50px
      align-items: center
      flex-direction: row-reverse
      justify-content: space-between
  .social
    position: relative
    margin-bottom: 30px
    display: flex
    flex-direction: column
    +tablet
      width: 50%
      margin: 0
      align-items: flex-end
    .social-buttons
      display: flex
      justify-content: space-between
      flex-direction: row
      width: 100%
      max-width: 180px
      margin: 0
      svg
        +ease(.2s)
        &:hover
          cursor: pointer
          transform: scale(1.2)

  .contact-company
    opacity: 0.75
    font-size: 14px
    color: #ffffff
    text-align: left
