.header
  width: 100%
  display: inline-block
  height: 80px
  background-color: #141516
  position: fixed
  top: 0
  z-index: 3
  .menu-wrapper
    padding: 20px
    display: flex
    width: 100%
    flex-direction: row
    justify-content: space-between
    a
      color: white
      text-decoration: none
    .logo
      height: 40px
      div
        height: 40px
        svg
          width: 35px
          height: 40px
    .menu
      display: none
    .get-in-touch
      border-radius: 50px
      border: solid 1px #ffffff
      display: inline-block
      padding: 10px 15px
      margin-top: 1px
      margin-right: 20px
      cursor: pointer
      text-transform: uppercase
      font-size: 12px
      font-weight: 600
      line-height: 18px
      letter-spacing: 0.9px
      color: white
      +ease(.2s)
      &:active
        transform: scale(.97)

    .wrap-buttons
      display: flex
      flex-direction: row
      justify-content: space-between

    .mobile-menu
      height: 21px
      width: 24px
      display: inline-block
      position: relative

      .menu-button-inner:before
        width: 12px
        height: 3px
        border-radius: 2px
        background-color: white
        position: absolute
        content: ''
        top: -9px

      .menu-button-inner
        width: 24px
        height: 3px
        border-radius: 2px
        background-color: white
        position: absolute
        content: ''
        margin: 15px 0px 9px
        top: 4px

      .menu-button-inner:after
        width: 12px
        height: 3px
        border-radius: 2px
        background-color: white
        position: absolute
        content: ''
        top: 9px
        right: 0px

@media (min-width: 768px)
  .header
    .menu-wrapper
      max-width: 1032px
      display: flex
      flex-direction: row
      justify-content: space-between
      margin: 0 auto
      position: relative
      height: 80px
      .logo
        position: absolute
        z-index: 1
        left: 20px
        margin-right: 0
      .get-in-touch
        float: right
        margin-right: 0px
        position: absolute
        z-index: 1
        right: 20px
      .menu
        display: inline-block
        text-align: center
        width: 100%
        position: absolute
        z-index: 0
        left: 0
        padding: 10px 0px
        line-height: 17px
        top: 21px

        .home-menu, .what-we-do-menu, .out-work-menu, .writing-menu
          font-size: 12px
          font-weight: 600
          letter-spacing: 0.9px
          color: white
          margin-right: 40px
          display: inline-block
          text-transform: uppercase
        .writing-menu
          margin-right: 0px
