.contact-footer
  height: 50px
  width: 100%
  display: flex
  justify-content: center
  align-items: center

  .nav-button
    border: 1px solid #7b7c7c
    height: 52px
    width: 52px
    margin: 0 10px
    border-radius: 4px
    display: flex
    justify-content: center
    align-items: center
    color: white
    opacity: 1
    cursor: pointer

    .arrow
      display: flex
      justify-content: center
      align-items: center

  .prev
    transform: rotate(180deg)

  .disable
    border: 1px solid #cccccc
    opacity: 0.2

  .press-enter
    font-size: 1rem
    margin: 0 10px
    cursor: pointer
