// Home
.home-page
  background-image: linear-gradient(to bottom, #f6f6f6, #ffffff)
  min-height: 100vh
  min-width: 100vw

.small
  height: 50px
  width: 50px
  border-radius: 50px
  background: #e0394a
  position: absolute
  top: 165px
  left: calc(50vw - 25px)

.home-section
  min-height: 100vh
  width: 100%
  .circle-container
    height: 100vh
    width: 100vw
    z-index: 1
    position: relative
    background: $dark-grey
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .circle
      border: 8px $faded-red solid
      border-radius: 300px
      background: $numie-black
      min-width: 225px
      display: flex
      min-height: 225px
      justify-content: center
      align-items: center
      position: absolute
      top: calc(50vh - 112.5px)
      left: calc(50vw - 112.5px)

      .circle-inside
        position: absolute
        height: 100%
        width: 100%
        z-index: 1 //<- small circles around large ones z-index should be less than 1
        background: $numie-black
        border-radius: 300px
    .home-hero-title
      position: absolute
      // top: calc(50vh - 3.437rem)
      top: calc(50vh - 55px)
      width: 100vw
      z-index: 2
      text-transform: uppercase
      text-align: center
      span
        font-size: 46px
        font-weight: 300
        line-height: 1.2
        color: $white
        text-shadow: 0 1px 2px rgb(0, 0, 0)
      .create
        font-weight: bold

  .development
    background: #ffffff
    z-index: 1
    display: flex
    flex-direction: column
    padding: 80px 20px 60px
    +medium-phone
      padding-bottom: 90px
    +large-phone
      padding-left: 5vw
      padding-right: 5vw
    +tablet
      padding-right: 60px
      padding-left: 40px
      padding-bottom: 100px
      position: relative
    +small-desktop
      padding-left: 11.6vw
      padding-right: 11.6vw
      min-height: 600px
      padding-bottom: 150px

    .title-image
      width: calc(100vw - 15px)
      max-width: 480px
      align-self: flex-end
      border-radius: 2.4px
      box-shadow: -2px 1px 10px 0 rgba(0, 0, 0, 0.05)
      margin-right: -25px
      +tablet
        margin-right: 0px
        box-shadow: -3px 2px 9px 0 rgba(0, 0, 0, 0.05)
      +small-desktop
        width: 40.5vw
        max-width: 580px
      +desktop
        width: 580px

    .section-title
      margin-top: 30px
      max-width: 80vw
      font-size: 24px
      font-weight: bold
      line-height: 32.0px
      text-align: left
      color: #141516
      +large-phone
        max-width: 72.5vw
        font-size: calc(2vw + 1rem)
      +tablet
        font-size: 50px
        line-height: 68px
        max-width: 505px
        margin-top: 0px
        z-index: 1
        position: absolute
        top: 330px
      +small-desktop
        top: 150px

    .section-description
      max-width: 260px
      margin-top: 5px
      text-align: left
      align-self: flex-end
      font-size: 14px
      line-height: 26.0px
      text-align: left
      color: #5c5c5c
      +medium-phone
        max-width: 315px
      +large-phone
        max-width: 85.75vw
        font-size: calc(1vw + 0.6163rem)
      +tablet
        margin-top: 100px
        max-width: 635px
        font-size: 18px
        line-height: 37px
        margin-right: -20px
      +small-desktop
        max-width: 237px
        font-size: 14px
        line-height: 29px
        align-self: flex-start
        z-index: 1
        margin: 0
        position: absolute
        top: 315px
        left: 20vw

  .what-we-do
    background-color: #fcfdff
    padding: 10vw 20px 40px
    position: relative
    z-index: 1
    +medium-phone
      padding-bottom: 75px
    +large-phone
      padding: 10vw 5vw 75px
    +tablet
      padding-left: 85px
      padding-right: 85px
      padding-bottom: 50px
    +small-desktop
      padding: 5vw 11.6vw 140px
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      height: 100vh
      min-height: 1050px
    +desktop
      padding-left: 12.15vw

    &:before
      content: ' '
      position: absolute
      background-color: #fcfdff
      box-shadow: 0 -10px 18px 0 rgba(20, 21, 22, 0.05)
      top: 0
      width: 120%
      height: 13vw
      left: -10%
      transform: rotate(-6deg)
      transform-origin: 0
      +small-desktop
        transform: rotate(-4deg)
        height: 8vw
    .title
      font-size: calc(2vw + 0.85rem)
      font-weight: bold
      line-height: 28.0px
      text-align: center
      color: #141516
      margin-bottom: 10px
      +medium-phone
        font-size: calc(2vw + 0.7813rem)
      +large-phone
        font-size: calc(2vw + 0.7325rem)
      +tablet
        font-size: calc(2vw + 0.915rem)
        line-height: 40px
      +small-desktop
        flex: 0 0 45px
        max-width: 300px
        font-size: 30px
        line-height: 40px
        text-align: left

    .section-description
      font-size: 14px
      line-height: 24.0px
      text-align: center
      color: #5c5c5c
      margin: 0 auto 30px
      +medium-phone
        max-width: 335px
      +large-phone
        margin-bottom: 7.25vw
        max-width: 81vw
      +tablet
        max-width: 600px
        margin-bottom: 50px
      +small-desktop
        max-width: 300px
        flex: 0 0 50px
        margin: 0 0 50px
        text-align: left
      +desktop
        max-width: 390px

    .services
      +small-desktop
        flex: 0 0 100%
        width: calc(100% - 330px)
        margin-left: 30px
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
      +desktop
        margin-left: 40px
        width: calc(100% - 430px)


      .section, .card
        background: transparent
        border: none
        box-shadow: none
      .dev-design, .app-marketing
        padding: 0
        display: flex
        flex-direction: column
        justify-content: center
        +small-desktop
          flex: 0 0 calc(50% - 15px)
        .card
          display: flex
          flex-direction: row
          justify-content: space-between
          margin-bottom: 20px
          +tablet
            margin-bottom: 50px
          +small-desktop
            margin-bottom: 30px
            flex-direction: column
            align-items: center
            padding: 20px
            background-color: #ffffff
            box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05)

          .image
            min-width: 90px
            height: 90px
            border-radius: 100px
            border: solid 1px #5c5c5c
            margin-right: 20px
            +small-desktop
              width: 100px
              height: 100px
              margin: 0
              margin-bottom: 20px
          .intro
            width: 100%
            .title
              font-size: 18px
              font-weight: 600
              line-height: 20.0px
              text-align: left
              color: #5c5c5c
              +small-desktop
                text-align: center


            .description
              font-size: 14px
              line-height: 28.0px
              text-align: left
              color: #b1b3b6
              +small-desktop
                text-align: center

      .dev-design
        .card
          &:first-child
            +small-desktop
              margin-top: -150px
      .app-marketing
        .card
          &:last-child
            +small-desktop
              margin-bottom: -150px

    .learn-more
      font-size: 16px
      font-weight: bold
      line-height: 16.0px
      letter-spacing: 2px
      text-align: center
      color: #434445 !important
      width: 228px
      display: block
      margin: 15px auto 0
      min-height: 36px
      +large-phone
        margin-top: 30px
      +tablet
        margin-top: 0px
      +small-desktop
        position: absolute
        top: calc(50% + 50px)
        left: 11.6vw

    .footer-button
      &:before, &:after
        background-color: rgba(0, 0, 0, 0.07)
        height: 36px
      &:before
        width: 18%
      &:after
        right: -10px
      &:hover:before
        width: 0%
      &:hover:after
        width: calc(100% + 10px)

      span
        width: calc(100% + 10px) !important
        padding-left: 5px

  .project-preview
    min-height: 100vh
    background-color: $numie-black !important
    padding: 20px
    display: flex
    flex-direction: column
    position: relative
    overflow: hidden
    +large-phone
      padding: 5vw
    +tablet
      padding: 30px 11.1vw 50px
    +small-desktop
      padding: 0 70px 0 85px
      justify-content: space-between
    div
      background: transparent
    .bg-looper--bottom
      top: 100vh !important
      bottom: 0px !important
    .bg-looper
      position: fixed
      top: 0
      right: 0
      z-index: 0
      overflow: hidden
      width: 110vw
      height: 70vh
      padding: 20%
      +small-desktop
        width: 100vw
        height: 100vh
        padding: 0
        z-index: 0 !important
      svg
        height: 200%
        width: 300%
        position: absolute
        right: -70%
        bottom: 50%
        transition: all 0.09s  linear
        +small-desktop
          width: 300%
          height: 300%
          right: -65%
          bottom: -80%
          z-index: 0

    .clique-meet
      display: flex
      flex-direction: column
      .project-showcase
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-start
        +small-desktop
          flex: 0 0 calc(50% - 50px)
          max-width: 465px
        .section
          padding: 0
          flex: 0 0 calc(50% - 7px)
        .image-group-1
          margin-left: -8px
          margin-top: 25vw
          +large-phone
            margin-left: -2vw
          +small-desktop
            margin-top: 14vw

    .project
      z-index: 1
      +small-desktop
        flex-direction: row-reverse
        align-items: center
        justify-content: space-between
        height: 100vh
        margin-bottom: 50px
        overflow: hidden
        .project-bg
          position: absolute
          bottom: 0
          left: 0
          height: 100vh
          width: 100vw
          background: transparent
        .project-bg--red
          @extend .project-bg
          background-color: red
          opacity: 0.4

        .image-group-1, .image-group-2
          img
            width: calc(100% + 8px)
            max-width: none
            margin-bottom: 10px
            +tablet
              margin-bottom: 20px
            +large-phone
              width: calc(100% + 2vw)

      .project-showcase
        +small-desktop
          transform: translate3d(0,100px,0)
          opacity: 0
          transition: opacity 1s 0.6s

      .project-intro
        padding-top: 60px
        padding-left: 10px
        position: relative
        min-height: 290px
        +tablet
          padding-top: 40px
        +small-desktop
          transform: translate3d(0,100px,0)
          opacity: 0
          transition: opacity 1s 0.6s

          padding-left: 0
          flex: 0 0 50%
          max-width: 490px
        .title
          font-size: 24px
          font-weight: 600
          text-align: left
          color: #ffffff
          position: relative
          +small-desktop
            font-size: 34px
          &::before
            content: ' '
            position: absolute
            background: #61d97a
            top: -15px
            left: 0
            height: 4px
            width: 50px

        .tech
          transform: translateX(-50%) translateY(-50%) rotate(-90deg)
          position: absolute
          top: 193px
          left: 15px
          font-size: 12px
          line-height: 32.0px
          letter-spacing: 0.9px
          text-align: right
          color: #61d97a
          +tablet
            top: 173px
          +small-desktop
            top: 195px
            left: 5px
            font-size: 14px
            letter-spacing: 1px

        .description
          opacity: 0.85
          font-size: 16px
          line-height: 30.0px
          text-align: left
          color: #ffffff
          margin-left: 30px
          +small-desktop
            margin-left: 45px
            font-size: 18px
            line-height: 32px

    .project-fadein
      transform: translate3d(0,0,0) !important
      opacity: 1 !important
      transition: transform 0.5s 0.6s, opacity 0.5s 0.6s !important
    .project-fadeout
      transform: translate3d(0,-50px,0) !important
      opacity: 0 !important
      transition: transform 0.5s 0.6s, opacity 0.5s 0.6s !important

  .project-preview--fixed
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 9999
  .project-ref--filled
    width: 100vw
    height: 300vh
    display: block


  footer
    margin-top: 0

@media screen and (min-width: 375px)
  .home-hero-title
    top: calc(50vh - 59px) !important
    span
      font-size: 54px !important
      line-height: 1.11 !important

@media screen and (min-width: 626px)
  .home-hero-title
    top: calc(50vh - 29.5px) !important

@media screen and (min-width: 768px)
  .circle
    min-height: 280px !important
    min-width: 280px !important
    border: 10px solid $faded-red
    top: calc(50vh - 140px) !important
    left: calc(50vw - 140px) !important
  .home-hero-title
    top: calc(50vh - 33px) !important
    span
      font-size: 60px !important

@media screen and (min-width: 1024px)
  .home-hero-title
    top: calc(50vh - 39px) !important
    span
      font-size: 76px !important
      line-height: 78px !important
