//Vendors
// @import normalize.css // Need to use
@import '~bulma' // Need to use

//Helpers
@import 'utilities/mixins'
@import 'utilities/variables'

html
  -webkit-font-smoothing: antialiased
  //-webkit-font-smoothing: subpixel-antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-overflow-scrolling: touch
  height: 100%
  overflow: auto

body
  margin: 0
  font-family: 'Open sans' !important
  position: relative
  margin: 0
  background: #141516
  overflow-x: visible

img
  width: 100%
  display: table

.main-page-revealer
  overflow: hidden


//Animations
@import 'utilities/blockReveal'
@import 'utilities/keyframes'

//Utilities
@import 'utilities/footerButton'

//Pages
@import 'pages/home/index'
@import 'pages/about/index'
@import 'pages/work/index'
@import 'pages/blog/index'
// @import 'pages/contact/index'
@import 'pages/contact/newContact'

//Components
@import 'components/header'
@import 'components/footer'
@import 'components/callToAction'
@import 'components/singlePost'
@import 'components/individualBlog'
